<div class="container">
    <mz-parallax [height]="280" class="base-parallax">
        <img src="../../../assets/images/poly5.jpg"/>

        <div class="row">

            <div class="col div-avatar l4 xl4">
                <img src="../../../assets/images/face-test.jpg" />
            </div>
            
            <div class="col div-profile-detail l8 xl8">
                <h3>Adolfo Lopez</h3>
                <p><strong>Phone Number:</strong> 0405116259 </p>
                <p><strong>Nacionality:</strong> Chilean</p>
                <p><strong>Visa:</strong> Student </p>
            </div>
        </div>
    </mz-parallax>

    <div style="height:500px; background: white;">
        
     
    <div class="row">
        <ul class="tabs purple lighten-1">
            <li class="tab col s3"><a href="#test1"><strong>Pesonal data</strong></a></li>
            <li class="tab col s3"><a class="active" href="#test2"><strong>Documents</strong></a></li>
            <li class="tab col s3"><a href="#test3"><strong>Extras</strong></a></li>
        </ul>
    </div>

    <div class="row">
        <div id="test1" class="col s12">Test 1</div>
        <div id="test2" class="col s12">Test 2</div>
        <div id="test3" class="col s12">Test 3</div>
    </div>
    
</div>



