<div class="container">
    
    <div class="row">
        
        <div *ngFor="let client of clients" class="col s12 m4 l2 xl2">
            <div class="card card-client-list">
            <div class="card-image">
                <img src="../../../assets/images/face-test.jpg">
                <span class="card-title">Adolfo Lopez</span>
            </div>
            <div class="card-action">
                <a (click)="showNavClient()" >Profile</a>     
            </div>
            </div>
        </div>
    </div>

    <a [id]="'btn-sidenav-client'" type="hidden"></a>
</div>

<mz-sidenav [id]="'sidenav-client'" [collapseButtonId]="'btn-sidenav-client'" [edge]="'right'" >

    <mz-sidenav-header>
        <div class="user-view right-left">
            <img class="circle avatar" src="../assets/images/face-test.jpg">
            <div class="white-text name">Name LastName</div>
            <div class="white-text email">Email@</div>
        </div>
    </mz-sidenav-header>

    <mz-sidenav-subheader>Client Data</mz-sidenav-subheader>

    <mz-sidenav-link>
        <a  href="/profile">Profile</a>
    </mz-sidenav-link>

    <mz-sidenav-divider></mz-sidenav-divider>
    
    <mz-sidenav-link [active]="true">
        <a href="#">Active Link</a>
    </mz-sidenav-link><mz-sidenav-link [active]="true">

        <a href="#">Active Link</a>
    </mz-sidenav-link>
    <mz-sidenav-divider></mz-sidenav-divider>

    <mz-sidenav-link>
        <a href="#" class="waves-effect">Second Link With Waves</a>
    </mz-sidenav-link>
</mz-sidenav>


