<div class="row">

  <div class=" col l5 xl5">

    <mz-input-container class="col s12">
      <i class="material-icons prefix">email</i>
      <input mz-input
        [label]="'Email'"
        [validate]="true"
        [dataError]="'Email is invalid'"
        [dataSuccess]="'Email is valid'"
        id="email-input"
        placeholder="Enter your email"
        length="150"
        type="email">
    </mz-input-container>

    <mz-input-container class="col s12">
      <i class="material-icons prefix">face</i>
      <input mz-input
        [label]="'Name'"
        [validate]="true"
        placeholder="Enter your name"
        length="150"
        type="text">
    </mz-input-container>

    <mz-input-container class="col s12">
      <i class="material-icons prefix">face</i>
      <input mz-input
        [label]="'Last name'"
        [validate]="true"
        placeholder="Enter your last name"
        length="150"
        type="text">
    </mz-input-container>

    <mz-input-container class="col s12">
        <i class="material-icons prefix">place</i>
        <input mz-input
          [label]="'Address'"
          [validate]="true"
          placeholder="Enter your address"
          length="150"
          type="text">
    </mz-input-container>

    <mz-input-container class="col s12">
        <i class="material-icons prefix">location_city</i>
        <input mz-input
          [label]="'City'"
          [validate]="true"
          placeholder="Enter your city"
          length="150"
          type="text">
    </mz-input-container>

    <mz-input-container class="col s12">
        <i class="material-icons prefix">public</i>
        <input mz-input
          [label]="'Country'"
          [validate]="true"
          placeholder="Enter your country"
          length="150"
          type="text">
    </mz-input-container>

    <div class="col s12">
        <a mz-button >Save Data</a>
    </div>
    
  </div>


    


  <div class="5">
     
  </div>

</div>