<div class="container">

  <mz-parallax [height]="500" class="base-parallax">
    <img src="../../../assets/images/poly3.jpg"/>

    <br><br>
       
    <mz-card [backgroundClass]="'blue-grey darken-1 container div-form-content'" [textClass]="'white-text'" [hoverable]="true">

    <mz-card-title> Login </mz-card-title>

    <mz-card-content>
      <div class="row">
          <div class="col l7 xl7">

              <mz-input-container>
                <i mz-icon-mdi mz-input-prefix
                  [icon]="'email'"></i>
        
              <input mz-input [(ngModel)]="user.email" [label]="'Email'" [validate]="true" [dataError]="'Email is invalid'"
                  [dataSuccess]="'Email is valid'" length="150" type="email"/>
              </mz-input-container>
        
              <mz-input-container>
                <i mz-icon-mdi mz-input-prefix
                  [icon]="'key'"></i>
        
                <input mz-input [(ngModel)]="user.password" [label]="'Password'"
                  [validate]="true" length="150" type="password"/>
              </mz-input-container>
            
              <button mz-button (click)="login()"> Login</button>
          </div>

          <div class="col l5 xl5">
              <button mz-button class="button-full-width"> FORGOT YOU PASSWORD?</button>
              <br><br>
              <a mz-button class="button-full-width" routerLink="/signin" > SIGN IN</a>
          </div>
      </div>
    </mz-card-content>

  </mz-card>
  </mz-parallax>

</div> 

